.cover-photo-wrap .jFiler-input .jFiler-input-button:after {
    content: 'Upload File';
}

// .theme-btn {
//     background-color: #00A0A0 !important;

//     &-2 {
//         height: 60px;
//     }

// }

.app-logo {
    // width: 70px;
    height: 60px;
}

.dashboard-nav-container .side-menu-ul>li.active a .btn-toggle,
.side-nav-container .side-menu-ul>li.active a .btn-toggle {
    background-color: #00A0A0;
    color: #fff;
}

.dashboard-nav-container .side-menu-ul>li>a:hover .btn-toggle,
.side-nav-container .side-menu-ul>li>a:hover .btn-toggle {
    background-color: #00A0A0;
}

.side-nav-container {
    background-color: #00A0A0;
}

.font-weight-small {
    font-size: 13px;

}

.preview-image {
    height: 70px;
    width: 70px;
    margin-top: 10px;
    border-radius: 10px;
}

.preview-image-text {
    float: right;
    position: relative;
    top: 0px;
    color: #00A0A0;
}

.error-msg {
    color: red;
    font-size: 13px;
}

.loading-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: #c7860d;
    color: white;
    text-align: center;
    z-index: 1;
    box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.1), 0 18px 18px 0 rgba(10, 31, 68, 0.12);

}

.transaction-details {
    font-size: 12.5px;
    color: #2C2C51;
}

.color-text-2 {
    color: #9b6b12 !important;
}

.color-text-1 {
    font-size: 13px;
    color: #9b6b12;

    a {
        color: #00A0A0;
    }
}

input, textarea {
    padding: 15px 20px 15px 15px !important;

}

select {
    height: 60px !important;
    padding: 15px 20px 15px 15px !important;
    width: 100%;
    height: 34px;
    overflow: hidden !important;
    // background: url("images/downArrow.png") no-repeat right #fff;
    // outline-offset: 100px !important;
    outline-color: #00A0A0;;
    cursor: pointer;
    display: inline-block;
    position: relative;
    font: normal 11px/22px Arial, Sans-Serif;
    color: #2c2c51;
    border: 1px solid rgba(128, 137, 150, 0.3);
    border-radius: 4px;

}

select:focus {
    border-color: #00A0A0 !important;
}

select:active {
    border-color: #00A0A0 !important;
}

select option {
    // display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 10px !important;
    padding: 10px !important;
    height: 200px !important;
    list-style: none;
    border: 1px solid #ccc !important;
    background-color: #fff !important;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.charges-info {
    font-size: 13px;
}

.cart-title {
    font-size: 20px !important;
}

.sold-out {
    font-size: 15px;
    color: maroon;
}

.loader-cart {
    margin-left: 40%;
}

button {
    font-weight: 500;
    font-size: 14px;
    color: #fff !important;
    line-height: 48px;
    padding-left: 24px;
    padding-right: 24px;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    width: 145px !important;
    position: relative;
    top: 12px;
    height: 55px;
    background-color: #00A0A0;
    cursor: pointer;
}

.payment-msg {
    float: left;
    margin-top: 5px;
    font-size: 13px;
    color: #c7860d;
}

.color-text-3 {
    font-size: 14px;
}

.view-btn {
    float: left;
}

.breadcrumb-area {
    background-image: url(https://res.cloudinary.com/kugoo/image/upload/v1595865521/tests/moviebg.jpg);
}

.breadcrumb-area:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c7860d8f;
    z-index: -1;
}

.img-fluid-2 {
    width: 100px;
    height: 300px;
}

.contact-form-action .message-control {
    /* height: 160px; */
    height: auto;
}

.download-btn {
    cursor: pointer;
}

.clear-text {
    color: #c7860d;
    cursor: pointer;
}